@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");

body {
  margin: 0;
}
.navbar {
  display: flex;
  align-content: center;
  align-items: baseline;
  background-color: white;
  box-shadow: rgb(0 0 0 / 8%) 0 0 5px 1px;
  width: 100%;
  justify-items: center;
}

.menu {
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.search {
  margin-left: 20px;
  align-items: center;
  justify-content: left;
}

.topic {
  font-weight: bold;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  width: 350px;
}

.title {
  margin-left: 20%;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.login-btns {
  display: flex;
  justify-content: flex-end;
  float: right;
  align-items: center;
  width: 100%;
  height: 40px;
}
.login-btns button {
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  height: 90%;
  width: 20%;
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 1020px;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.header-title {
  width: 50%;
  font-family: "Merriweather", serif;
  font-size: 22px;
  margin-top: 20px;
}

.divider {
  position: relative;
  border-top: 1px solid #ebebeb;
  width: 45%;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  width: 40%;
  height: 30px;
  justify-content: flex-start;
}

.social-icons button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
  border-color: transparent;
}
.social-icons button:hover {
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
}
.fb {
  background-image: url(/images/fb.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.whatsapp {
  background-image: url(/images/whatsapp.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 3px;
}
.twitter {
  background-image: url(/images/twitter.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.mail {
  background-image: url(/images/mail.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 3px;
}
.share {
  background-image: url(/images/arrow-right.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.save {
  background-image: url(/images/bookmark.png);
  background-color: transparent;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.comments {
  background-image: url(/images/comments.png);
  background-color: transparent;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 10px;
}

.article-img {
  margin-top: 30px;
  height: 400px;
  width: 80%;
}

.article-img img {
  max-width: 100%;
  max-height: 100%;
}

.img-description {
  width: 80%;
  opacity: 0.8;
  font-size: 19px;
}
.writer {
  color: grey;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  grid-auto-rows: 100px;
  height: 1000px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 900px;
}

.author {
  margin-top: 30px;
  font-weight: bold;
  width: 60%;
}
.author a {
  text-decoration: none;
  color: black;
}

.date {
  margin-top: 10px;
  font-weight: normal;
}

.text {
  border-top: 1px solid #ebebeb;
  font-family: "Times New Roman", Times, serif;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 24px;
  opacity: 0.8;
  width: 70%;
  align-self: center;
  line-height: 2rem;
}

.sidebar {
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.editor {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #ebebeb;
  width: 50%;
  padding-bottom: 20px;
}
